<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "My Favorite Books", root_path, class: "navbar-brand" %>
    </div>
    <div>
      <%= link_to "Top", root_path, class: "navbar-brand navbar-right" %>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="pr-wrap">
          <div class="pass-reset">
              <label>
                  Enter the email you signed up with</label>
              <input type="email" placeholder="Email" />
              <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
          </div>
      </div>
      <div class="wrap">
        <p class="form-title">
            Log In</p>
        <form class="login">
          <input type="text" placeholder="email" />
          <input type="password" placeholder="Password" />
          <input type="submit" value="Log In" class="btn btn-success btn-sm" />
          <div class="remember-forgot">
              <div class="row">
                <div class="col-md-6 forgot-pass-content">
                    <a href="javascription:void(0)" class="forgot-pass">Forgot Password?</a>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
