@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  background: url(/images/GAPAKU3298_TP_V.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;/*画面からの相対位置（背景固定）*/
  background-size: cover;/*背景サイズ*/
}

/* --------ログインフォーム-------- */

.wrap
{
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

p.form-title
{
  font-family: 'Open Sans' , sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

form
{
  width: 250px;
  margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  outline: 0;
}

form.login input[type="submit"]
{
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
  transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
form.login label, form.login a
{
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}

form.login a
{
  transition: color 0.5s ease;
}

form.login a:hover
{
  color: #2ecc71;
}

.pr-wrap
{
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.show-pass-reset
{
  display: block !important;
}

.pass-reset
{
  margin: 0 auto;
  width: 250px;
  position: relative;
  margin-top: 22%;
  z-index: 999;
  background: #FFFFFF;
  padding: 20px 15px;
}

.pass-reset label
{
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
  width: 100%;
  margin: 5px 0 0 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #000000;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #000000;
  outline: 0;
}

.pass-reset input[type="submit"]
{
  width: 100%;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
  transition: background-color 0.5s ease;
}

.posted-by
{
  position: absolute;
  bottom: 26px;
  margin: 0 auto;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.66);
  padding: 10px;
  left: 45%;
}

.error-msg
{
  color: red;
  width: 400px;
  margin: 0 auto;
}

/* --------navbarの指定-------- */

$bgDefault      : #020202;
$bgHighlight    : #f6f2f7;
$colDefault     : #ecf0f1;
$colHighlight   : #7ff99d;
$dropDown       : false;
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault;
    font-size: 1em;
    a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}

.dropdown-menu
{
  width: 850px;
}

/* --------フォントの指定-------- */

@font-face {
  font-family: '07YasashisaAntique';
  src: font-url('07YasashisaAntique.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* --------コンテナの中身の指定-------- */

div.container-body
{
  border-radius: 30px 30px 30px 30px;
  background: rgba(117, 104, 87, 0.5);
  margin: 40px 100px 20px 100px;
  padding: 20px 40px 20px 40px;
}

/* コンテナ内の要素のfloatを解除するための擬似要素 */
div.float-area
{
  &:after {
    content: "";
    display: block;
    clear: both
  }
}

/* 書籍連番 */
p.book-num
{
  font-family: '07YasashisaAntique';
  text-align: left;
  color: #FFFFFF;
  font-size: 20px;
}

/* 書籍タイトル */
.book-title
{
  font-family: '07YasashisaAntique';
  text-align: left;
  color: #FFFFFF;
  font-size: 20px;
  &:hover, &:focus {
    color: #7ff99d;
    text-decoration: none;
  }
}

/* 書籍コンテンツ */
ul.book-content
{
  font-family: '07YasashisaAntique';
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
}

/* 書籍コンテンツタイトル */
ul.book-content-title
{
  font-family: '07YasashisaAntique';
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  padding-top: 10px;
}

/* 書籍画像 */
div.book-img
{
  float: left;
  padding-right: 25px;
}

/* 書籍著者 */
div.book-author
{
  font-family: '07YasashisaAntique';
  color: #FFFFFF;
  font-size: 15px;
  padding-left: 40px;
  float: left;
}

div.btn-area
{
  padding-top: 20px;
}

/* ボタンの指定 */
.btn-success
{
  padding: 10px 94px;
  border: 0 none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
}

.btn-warning
{
  padding: 10px 100px;
  border: 0 none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
}

.btn-danger
{
  padding: 10px 114px;
  border: 0 none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
}

.btn-primary
{
  padding: 10px 87px;
  border: 0 none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
}

/* 書籍リスト追加のイベントエリアの指定 */

.load_book_list_area
{
  font-family: '07YasashisaAntique';
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
}
